:root {
  --primary: #eee7e1;
  --secondary: #1a1919;
  --tertiary: #e2c2b3;
  --heading-font: 'Abril Fatface', Verdana, Geneva, Tahoma, sans-serif;
  --text-font: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
  background-color: var(--primary);
}

body {
  margin: 0;
  font-family: var(--text-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  margin-top: 1em;
  font-size: 5rem;
}

.header {
  text-align: center;
}

.input-form {
  width: 50%;
  text-align: center;
  height: 3em;
  border-radius: 7px;
  background-color: white;
  font-weight: bold;
} 

.form-btn {
  width: 25%;
  background-color: var(--secondary);
  color: var(--primary);
}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 480px) {
  .title{
    font-size: 45px;
  }

  .title-sub{
    font-size: 15px;
  }

  .input-form {
    width: 80%;
  }
  
  .form-btn {
    width: 40%;
  }
}
